@font-face {
    font-family: 'Roboto-Black';
    src: url('./fonts/Roboto-Black.ttf');
    font-weight: 900;
}

@font-face {
    font-family: 'Gentona-Heavy';
    src: url('./fonts/Gentona-Heavy.ttf');
}

body {
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;

    border: 0;

    font-family: "Roboto-Black", sans-serif;
    font-size: 16px;
    line-height: 22px;
    text-align: center;

    background: url("storage/backgrounds/main-background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw 100vh;
    overflow: hidden;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-focus-ring-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: none;
    outline: none;
}

/* Loading */

.loading_container {
    display: flex;
}

.loading_container div {
    width: 4vh;
    height: 4vh;
    margin: 1vh;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    animation: loadBall 1s infinite;
}


.loading_blue_ball {
    background-image: url("./storage/load/loadBlueBall.jpg");
    background-size: contain;
}

.loading_green_ball {
    background-image: url("./storage/load/loadGreenBall.jpg");
    background-size: contain;
}

.loading_purple_ball {
    background-image: url("./storage/load/loadPurpleBall.jpg");
    background-size: contain;
}

.loading_yellow_ball {
    background-image: url("./storage/load/loadYellowBall.jpg");
    background-size: contain;
}

.loading_white_ball {
    background-image: url("./storage/load/loadWhiteBall.jpg");
    background-size: contain;
}

.loading_red_ball {
    background-image: url("./storage/load/loadRedBall.jpg");
    background-size: contain;
}

@media (orientation: portrait) {
    .loading_container div {
        width: 8vw;
        height: 8vw;
        margin: 2vw
    }
}

@keyframes loadBall {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Section Game */

.game {
    margin: auto;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

/* Container Game */

.main_game_container {
    max-height: 100vh;
    min-height: 90vh;

    box-sizing: border-box;
    padding: 5vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Header (Zuma Logo) */

.game_name {
    max-height: 10vh;
    margin-top: 10vh;

    box-sizing: border-box;
    color: darkslategray;
    text-shadow: 5px 5px 5px black;

    font-family: "Gentona-Heavy", sans-serif;

    font-size: calc(4em + 4vh);

    cursor: pointer;

    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    animation: logoScale 1s;
}

@keyframes logoScale {
    0% {
        transform: scale(0);
    }
    90% {
        transform: scale(1.3);;
    }
    100% {
        transform: scale(1);
    }
}

/* Player Form */

.game_player {
    margin-top: 0;
    margin-bottom: 3vh;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.game_player input {
    width: 90%;
    margin: 0;
    padding: 5px 10px;

    box-sizing: border-box;
    border: 1px solid black;
    display: block;

    font: inherit;
    font-size: calc(1em + 1vh);
    line-height: 100%;

    background-color: rgba(255, 255, 255, 0.2);
    color: black;
    border-radius: 5px;
}

.game_player input::placeholder {
    color: black;
}

.game_player input:focus {
    outline: none;
    border-color: white;
}

.error_span {
    color: white;
    position: absolute;
    top: 6vh
}

/* Menu */

.main_menu {
    width: auto;

    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.menu {
    margin-top: 10px;

    border: 10px solid;
    border-image: url("storage/backgrounds/border-background.png") 30 30 round;

    text-align: center;
}

.menu div {
    width: 100%;

    background-color: burlywood;
    opacity: 70%;
}

.menu button {
    width: 35vh;
    height: 6vh;
    min-width: 150px;
    min-height: 40px;
    margin: auto;

    font: inherit;
    font-size: calc(2em);

    outline: none;
    border: none;

    background: transparent;
    cursor: pointer;
}

/* Player Info */

.player_info_name,
.player_info_score {
    box-sizing: border-box;
    font: inherit;
    font-size: calc(1.2em);
    padding: 1vh;
    text-align: left;
}

/* Play */

.zuma_play {
    width: 40vh;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
}

.level {
    width: 7vh;
    height: 7vh;
    margin: 1vh;

    border: 10px solid;
    border-image: url("storage/backgrounds/border-background.png") 30 30 round;

    text-align: center;
}

.level div {
    width: 100%;
    height: 100%;

    background-color: burlywood;
    opacity: 70%;
}


.level_button {
    width: 100%;
    height: 100%;

    margin: auto;

    font: inherit;
    font-size: calc(2em);

    outline: none;
    border: none;

    background: transparent;
    cursor: pointer;
}

/* Records */

.zuma_records {
    margin-top: 3vh;

    font-size: calc(1em + 1vw);

    display: flex;
    flex-direction: column;

    border: 10px solid;
    border-image: url("storage/backgrounds/border-background.png") 30 30 round;
}

.records_table {
    background-color: #b3814b;
    opacity: 80%;
}

.records_table td {
    word-wrap: break-word;
    padding: 3vh;
    text-align: left;
}

.records_table td:nth-child(2) {
    text-align: right;
}

.records_table tr:first-child {

}

/* Rules */

.zuma_rules {
    margin-top: 1vh;
    font-size: calc(1em + 1vw);

    display: flex;
    flex-direction: column;

    border: 10px solid;
    border-image: url("storage/backgrounds/border-background.png") 30 30 round;
}

.zuma_rules div {
    background-color: #b3814b;
    opacity: 80%;
}

.zuma_rules h2 {
    font-size: calc(1em + 1vh);
    text-align: center;
    color: black;
}

.rules_list {
    width: 100%;
    margin: 0;
    padding: 0;

    background-color: #b3814b;
    opacity: 80%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rules_item {
    margin-bottom: 3vh;

    font-size: calc(1em);
    line-height: 100%;
    text-align: left;
    word-break: break-all;

    list-style: none;
}

/* About */

.zuma_about {
    margin-top: 1vh;
    font-size: calc(1em + 1vw);

    display: flex;
    flex-direction: column;

    border: 10px solid;
    border-image: url("storage/backgrounds/border-background.png") 30 30 round;
}

.zuma_about div {
    background-color: #b3814b;
    opacity: 80%;
}

.zuma_about h2 {
    font-size: calc(1em + 1vh);
    text-align: center;

    color: black;
}

.about_list {
    width: 100%;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: #b3814b;
    opacity: 80%;
}

.about_item {
    margin-bottom: 3vh;

    font-size: calc(1em);
    line-height: 100%;
    text-align: left;
    word-break: break-all;

    list-style: none;
}


/* Social */

.main_social {
    margin-top: 2vh;
    margin-bottom: 5vh;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.social_button {
    margin: 0;
    padding: 0;
    min-height: 6vh;

    min-width: 6vh;
    display: block;
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    background-size: 100%;
    outline: none;
}

.social_button_github {
    background-image: url("./storage/social/linkedin.png");
}

.social_button_linkedin {
    background-image: url("./storage/social/github.png");
}

.social_button_sound {
    background-image: url("./storage/social/volume-off.png");
}

/* Game */

.zuma_game {
    display: flex;
}

.zuma_field {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    min-width: 569px;
    min-height: 384px;
    max-width: 1138px;
    max-height: 768px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.game_score {
    font: inherit;
    font-size: 4vh;

    color: white;

    position: absolute;
    top: 1vh;
    left: 0;
    right: 0;
    z-index: 1;
}

.extra_score {
    font: inherit;
    font-size: 1.5vw;
    color: white;

    position: absolute;
    z-index: 1;
}

/* After Game */

.close {
    background: url("./storage/backgrounds/bgclose.jpg");
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;

    animation: close 4s;
}

.summary {
    margin-left: 3vw;
    margin-top: 3vw;

    font: inherit;
    font-size: 2vw;
    color: white;
}

.continue {
    max-width: 20vw;
}

.continue img {
    width: 100%;
    height: 100%;
}

@keyframes close {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}


/* Media */


@media (min-width: 320px) and (max-width: 812px) {
    body {
        background: url("storage/backgrounds/main-background.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        overflow: hidden;
    }

    .game_name {
        max-height: 8vh;
        margin-top: 8vh;

        box-sizing: border-box;
        font-size: calc(4em + 4vh);
    }

    .zuma_records {
        font-size: 1em;
    }

    .zuma_rules {
        font-size: 1em;
    }

    .zuma_about {
        font-size: 1em;
    }
}


.hidden {
    display: none;
}


@media (min-width: 320px) and (max-width: 900px) and (orientation: landscape) {
    body {
        background: url("storage/backgrounds/main-background.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100vw 100vh;
        overflow: hidden;
    }

    .main_game_container {
        width: 100vh;
    }

    .game_name {
        margin-top: 5vh;
        line-height: 0;

    }

    .main_menu {
        margin-top: 0;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .menu {
        margin-top: 0;
        width: 37vh;
        height: 7vh;
    }

    .menu div {
        width: 100%;
        height: 100%;
        background-color: burlywood;
        opacity: 80%;
    }

    .menu.player_info {
        width: 100%;
        height: 16vh;
    }

    .menu.player_info div {
        height: 8vh;
    }

    .menu button {
        width: 18vh;
        height: 7vh;
        min-width: 0;
        min-height: 0;

        text-align: center;
        font: inherit;
        font-size: calc(4vh);

        outline: none;
        border: none;

        background: transparent;
        cursor: pointer;
    }

    .main_social {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .social_button {
        width: 5vw;
        height: 5vw;
    }

    .zuma_rules {
        font-size: 4vh;
    }

    .zuma_rules h2 {
        color: black;
    }

    .zuma_about {
        font-size: 4vh;
    }

    .zuma_about h2 {
        color: black;
    }

    .zuma_records {
        margin: 0 auto;
        width: 70vh;
        font-size: 5vh;
    }

    .records_table td {
        word-wrap: break-word;
        padding: 2vh;
        text-align: left;
    }

    .zuma_play {
        width: 70vh;
    }

    .level {
        width: 15vh;
        height: 15vh;
    }
}


.orientation{
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    color: white;
}

.orientation p{
    margin-top: 100%;
}


