<section class="records-container">
    <table class="records-table">
        <thead>ТОП 5 ИГРОКОВ:</thead>
        <tbody>
        <tr>
            <td></td>
            <td>Ваш рекорд</td>
            <td>100</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Алексей</td>
            <td>1500</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Николай</td>
            <td>1300</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Петр</td>
            <td>1150</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Виталий</td>
            <td>1000</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Александр</td>
            <td>800</td>
        </tr>
        </tbody>
    </table>
</section>